<ion-header>
  <ion-toolbar>
    <ion-title>
     PROVEEDORES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="crearProveedor()"> 
    <ion-icon slot="start" name="add"></ion-icon>
    NUEVO
    
  </ion-button>
  <ion-list>
    <ion-list-header>
      <ion-label>PROVEEDORES</ion-label>
    </ion-list-header>
    <ion-list-header color="secondary">
      <ion-label>Nº</ion-label>
      <ion-label>IMAGEN   </ion-label>
      <ion-label>PROVEEDOR</ion-label>
      <ion-label>DIRECCIÓN</ion-label>
      <ion-label>TELÉFONO</ion-label>
      <ion-label>ACCIONES</ion-label>
    </ion-list-header>

         <ion-item *ngFor="let proveedor of proveedores, let index= index" color="light" >
          <ion-label > {{index}} </ion-label>
          <ion-label><ion-icon slot="start" name= "book"></ion-icon></ion-label>
          <ion-label> {{proveedor.nombre}}</ion-label> 
          <ion-label> {{proveedor.direccion}}</ion-label>
          <ion-label> {{proveedor.telefono}}</ion-label>
          <ion-icon name="create" (click)="modificarProveedor(proveedor)"></ion-icon>
          <ion-icon name="search"></ion-icon>
          <ion-icon name="trash"></ion-icon>
        </ion-item>   
      </ion-list>
</ion-content>
