<ion-header>
    <ion-toolbar color="primary">
        <ion-title align="center" >Contacto</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>   
      <ion-card>
        <ion-card-header>        
          <ion-card-title align="center"><h1>WTF MENDOZA</h1></ion-card-title>
        </ion-card-header>
        <img src="/assets/img/fnx.jpg" />        
        <ion-card-content class="text">
          <h3>Estudiante de ing sistema de Ucatec</h3>
        </ion-card-content>
        <ion-list>
            <ion-item>
              <ion-icon name="phone-portrait"></ion-icon>
              <ion-label class="label">70349973</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="mail"></ion-icon>              
              <ion-label class="label">svaldez6123@gmail.com</ion-label>
            </ion-item> 
            <ion-item href="https://www.facebook.com/profile.php?id=100009749863153">
                <ion-icon name="logo-facebook"></ion-icon>              
              <ion-label class="label">Facebook</ion-label>
            </ion-item>
            <ion-item href="https://chat.whatsapp.com/J0eRt3V4NPoKNgh7JUxLvk">
                <ion-icon name="logo-whatsapp"></ion-icon>              
              <ion-label class="label">Whatsapp</ion-label>
            </ion-item>                   
          </ion-list>  
      </ion-card>    
            
      
     </ion-content>