<ion-header>
  <ion-toolbar>
     
    <ion-title>edicion-producto</ion-title>
    <ion-buttons slot="start">
         
        <ion-back-button text='Atras' defaulthref='home'> </ion-back-button>
     
             
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
        <ion-list lines="none">
            <ion-list-header>
              <ion-label>Nombre</ion-label>
              <ion-input [(ngModel)]="producto.nombre" type="text" placeholder="Introduce el nombre del producto" ></ion-input>
              
            </ion-list-header>
          </ion-list>


            <ion-list lines="none" >
                <ion-list-header>
                  <ion-label>Imagen</ion-label>
                  <ion-button color="secundary">
                    Capturar Imagen
      
                    
                  </ion-button>
                </ion-list-header>
              </ion-list>

                <ion-list lines="none">
                    <ion-list-header>
                      <ion-label>Unidad</ion-label>
                      <ion-input [(ngModel)]="producto.unidad_medida" type="text" placeholder="Ingrese la unidad de medida" >

                      </ion-input>
                      
                    </ion-list-header>
                  </ion-list>

                    <ion-list lines="none">
                        <ion-list-header>
                          <ion-label>Frecuencia de uso (Dias)</ion-label>

                          <ion-input [(ngModel)]="producto.frecuencia_uso" type="text" placeholder="Ingrese la frecuencia" >

                          </ion-input>
                        </ion-list-header>
                      </ion-list>
                      <ion-button expand="full"color="primary" shape="round" (click)="guardar()">
                          
                          Guardar
                          
                        </ion-button>
                        <ion-button expand="full"color="danger" shape="round"(click)="cancelar()">
                          
                        Cancelar
                          
                        </ion-button>
                      

                        
</ion-content>
