<ion-header>
    <ion-toolbar color="primary">
        <ion-title align="center" >PRODUCTO/PROVEEDOR</ion-title>
    <ion-buttons slot="start">
         
      <ion-back-button text='Atras' defaulthref='home'> </ion-back-button>
   
           
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="crearPrecio()">
    Crear Precio
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>
  <ion-item>
    <ion-label>producto: {{producto.nombre}} </ion-label>
</ion-item>
<ion-item>
    <ion-label>Unidad de medida: {{producto.unidad_de_medida}} </ion-label>
</ion-item>
<ion-item>
    <ion-label>Frecuencia de uso: {{producto.frecuencia_de_uso}} </ion-label>
</ion-item>
<ion-list class="listname">
  <ion-item>
      <ion-col>
          <ion-label align="center">
              <h3>Descripcion</h3>
          </ion-label>
      </ion-col>
      <ion-col>
          <ion-label align="center">
              <h3>Nombre p.</h3>
          </ion-label>
      </ion-col>
      <ion-col>
          <ion-label align="center">
              <h3>Precio u.</h3>
          </ion-label>
      </ion-col>
      <ion-col>
          <ion-label align="center">
              <h3>Acciones</h3>
          </ion-label>
      </ion-col>
  </ion-item>
</ion-list>
<ion-list>

         <ion-item *ngFor="let producto_proveedor of producto_proveedores">
         <!--<ion-icon slot="start" color="medium" name= "book"></ion-icon>-->
          <ion-label> {{mostrarNombreProveedor(producto_proveedor.id_proveedor)}}</ion-label> 
          <ion-label> {{producto_proveedor.precio_unitario}}</ion-label>
          <ion-label> {{producto_proveedor.descripcion}}</ion-label>
          <ion-icon name="create" (click)="modificarProducto(producto)"></ion-icon>
          <ion-icon name="search"></ion-icon>
          <ion-icon name="trash" (click)="eliminarProducto_Proveedores(producto_proveedor)"></ion-icon>
          <ion-icon name="eye" (click)="verPrecios(producto)"></ion-icon>

            
          
      
   </ion-item>   
  </ion-list>


</ion-content>
