<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Preguntas</ion-label>
    </ion-tab-button>

   

    <ion-tab-button tab="tab3">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>CONTACTO</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
