<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">         
            <ion-back-button text='Atras' defaulthref='home'> </ion-back-button>                
      </ion-buttons>      
        <ion-title align="center" >CREAR PRODUCTO/PROVEEDOR</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
     
    <ion-title>edicion-producto</ion-title>
    <ion-buttons slot="start">
         
        <ion-back-button text='Atras' defaulthref='home'> </ion-back-button>
     
             
  </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
      <ion-label>{{producto.nombre}}</ion-label>
        <ion-list lines="none">
            <ion-list-header>
                <ion-item>
                  <ion-label>Proveedor</ion-label>
                  <ion-select [(ngModel)]="producto_proveedor.id_proveedor">
                    <ion-select-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{proveedor.nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-list-header>
          </ion-list>
          <ion-list lines="none">
              <ion-list-header>
                <ion-label>Precio Unitario</ion-label>
                <ion-input [(ngModel)]="producto_proveedor.precio_unitario" type="number" placeholder="Ingrese el precio unitario" ></ion-input>
              </ion-list-header>
            </ion-list>
            <ion-list lines="none">
                <ion-list-header>
                  <ion-label>Descripción</ion-label>
                  <ion-input [(ngModel)]="producto_proveedor.descripcion" type="text" placeholder="Ingrese la descripcion" ></ion-input>
                  
                </ion-list-header>
              </ion-list>
              <ion-content align="center">
                  <ion-button size="large" color="danger" shape="round"(click)="cancelar()">                          
                      Cancelar                          
                      </ion-button>
                  <ion-button size="large" color="primary" shape="round" (click)="guardar()">                          
                      Guardar                          
                    </ion-button>
                  </ion-content>
                      

                        
</ion-content>

