<ion-header class="title">
  <ion-toolbar color="primary">
    <ion-title align="center" >
      Preguntas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-button (click)="crearProducto()"> 
        <ion-icon slot="start" name="add"></ion-icon>Crear</ion-button> 
        <ion-button (click)="ionViewDidEnter()">
            <ion-icon name="refresh"></ion-icon>
        </ion-button>   
    <ion-list lines="none">
        
        <ion-list >
            <ion-item>
                  
                <ion-col>
                    <ion-label align="center">
                        <h3>pregunta</h3>
                    </ion-label>
                </ion-col>
                <ion-col>
                    <ion-label align="center">
                        <h3>Respuesta</h3>
                    </ion-label>
                </ion-col>
                <ion-col>
                    <ion-label align="center">
                        <h3>fecha </h3>
                    </ion-label>
                </ion-col>
              
            </ion-item>
        </ion-list>
    <ion-item *ngFor="let producto of productos, let index= index">
        
         
            <ion-col>
                <ion-label align="center">{{producto.nombre}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label align="center">{{producto.unidad_medida}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label align="center">{{producto.frecuencia_uso}}</ion-label>
            </ion-col>
            <ion-col align="center">
                <ion-icon name="create" (click)="modificarProducto(producto)" style="width: 25px; height: 25px;"></ion-icon>
                <ion-icon name="trash"(click)="presentAlert()" style="width: 25px; height: 25px;"></ion-icon>
              
            </ion-col>                   
     </ion-item> 
   
    </ion-list>
</ion-content>

