<ion-header>
    <ion-toolbar color="primary">
        <ion-title align="center" >
     Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="crearProveedor()"> 
    <ion-icon slot="start" name="add"></ion-icon>Agregar</ion-button>
    <ion-button (click)="ionViewDidEnter()">
      <ion-icon name="refresh"></ion-icon></ion-button>
  <ion-list lines="none">
    <ion-list >
      <ion-item>
         
          <ion-col>
              <ion-label align="center">
                  <h3>Nº</h3>
              </ion-label>
          </ion-col>
          <ion-col>
              <ion-label align="center">
                  <h3>Nombre</h3>
              </ion-label>
          </ion-col>
          <ion-col>
              <ion-label align="center">
                  <h3>correo</h3>
              </ion-label>
          </ion-col>
          <ion-col>
              <ion-label align="center">
                  <h3>Tlf/Cel</h3>
              </ion-label>
          </ion-col>
       
      </ion-item>
  </ion-list>  
         <ion-item *ngFor="let proveedor of proveedores, let index= index" >
            <ion-col>
                <ion-label align="center">
                    <ion-icon slot="start" color="medium" name= "person" style="width: 40px; height: 40px;"></ion-icon>                    
                </ion-label>
                </ion-col>  
                <ion-col>
                    <ion-label align="center">{{index}}</ion-label>
                </ion-col>   
                <ion-col>    
                <ion-label align="center"> {{proveedor.nombre}}</ion-label>
                </ion-col>
                <ion-col>
          <ion-label align="center"> {{proveedor.direccion}}</ion-label>
        </ion-col>
          <ion-col>
          <ion-label align="center"> {{proveedor.telefono}}</ion-label>
        </ion-col>
        <ion-col align="center">
         
          <ion-icon name="create" (click)="modificarProveedor(proveedor)" style="width: 25px; height: 25px;"></ion-icon>
          <ion-icon name="search" style="width: 25px; height: 25px;"></ion-icon>
         
        </ion-col>
        </ion-item>   
      </ion-list>
</ion-content>
