<ion-header>
    <ion-toolbar color="primary">
        <ion-title align="center" >Registro</ion-title>
    <ion-buttons slot="start">
         
      <ion-back-button text='Atras' href='../tab3/tab3.module#Tab3PageModule'> </ion-back-button>
   
           
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-list-header>
          <ion-label>Nombre: </ion-label>
          <ion-input [(ngModel)]="proveedor.nombre" type="text" placeholder="Introduce tu nombre" >

          </ion-input>
          
        </ion-list-header>
      </ion-list>


       

            <ion-list lines="none">
                <ion-list-header>
                  <ion-label>Correo: </ion-label>
                  <ion-input [(ngModel)]="proveedor.direccion" type="text" placeholder="Ingrese la direccion de correo" >

                  </ion-input>
                  
                </ion-list-header>
              </ion-list>

                <ion-list lines="none">
                    <ion-list-header>
                      <ion-label>Telefono o Celular: </ion-label>

                      <ion-input [(ngModel)]="proveedor.telefono" type="text" placeholder="Ingrese el numero telf" >

                      </ion-input>
                    </ion-list-header>
                  </ion-list>
                  <ion-content align="center">
                      <ion-button size="large" color="danger" shape="round"(click)="cancelar()">                          
                          Cancelar                          
                          </ion-button>
                      <ion-button size="large" color="primary" shape="round" (click)="guardar()">                          
                          Guardar                          
                        </ion-button>
                      </ion-content>

</ion-content>
