<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cart"></ion-icon>
      <ion-label>PRODUCTOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="basket"></ion-icon>
      <ion-label>COMPRA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>PROVEEDORES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>CONTACTO</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
