<ion-header>
  <ion-toolbar>
    <ion-title>
      PRODUCTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="crearProducto()"> 
        <ion-icon slot="start" name="add"></ion-icon>
        Crear
        
      </ion-button>
      <ion-list-header>
          <ion-label>PRODUCTOS</ion-label>
        </ion-list-header>
      <ion-list-header color="secondary">
        <ion-label>Nº</ion-label>
        <ion-label>IMAGEN   </ion-label>
        <ion-label>PRODUCTO</ion-label>
        <ion-label>U/MEDIDA</ion-label>
        <ion-label>FRECUENCIA</ion-label>
        <ion-label>ACCIONES</ion-label>
      </ion-list-header>

    
    <ion-list >

            <ion-item *ngFor="let producto of productos; let index= index" color="light">
            <ion-label > {{index}} </ion-label>
            <ion-label><ion-icon slot="start"  name= "book"></ion-icon></ion-label>
            <ion-label> {{producto.nombre}}</ion-label> 
            <ion-label> {{producto.unidad_medida}}</ion-label>
            <ion-label></ion-label>
            <ion-label> {{producto.frecuencia_uso}}</ion-label>
            <ion-icon name="create" (click)="modificarProducto(producto)"></ion-icon>
            <ion-icon name="search"></ion-icon>
            <ion-icon name="trash"></ion-icon>
            <ion-icon name="eye" (click)="verPrecios(producto)"></ion-icon>
          </ion-item>   
        </ion-list>
</ion-content>
