<ion-header>
  <ion-toolbar color="primary">
      <ion-title >Crea una Pregunta</ion-title>
  <ion-buttons slot="start">     
            
        <ion-back-button text='Atras' defaulthref='home'> </ion-back-button>            
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>   
        <ion-list lines="none">
            <ion-list-header>
              <ion-label>Pregunta: </ion-label>
              <ion-input [(ngModel)]="producto.nombre" type="text" placeholder="Introduce la pregunta" ></ion-input>
            </ion-list-header>
          </ion-list>

            

                <ion-list lines="none">
                    <ion-list-header>
                      <ion-label>respuesta: </ion-label>
                      <ion-input [(ngModel)]="producto.unidad_medida" type="text" placeholder="Ingrese la respuesta" >

                      </ion-input>
                      
                    </ion-list-header>
                  </ion-list>

                    <ion-list lines="none">
                        <ion-list-header>
                          <ion-label>Fecha </ion-label>

                          <ion-input [(ngModel)]="producto.frecuencia_uso" type="text" placeholder="Ingrese la fecha" >

                          </ion-input>
                        </ion-list-header>
                      </ion-list>

                    <ion-content align="center">
                    color="danger" shape="round"(click)="cancelar()">                          
                          Cancelar                          
                          </ion-button>
                                              
                          Guardar                          
                        </ion-button>
                      </ion-content>

</ion-content>
