// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content, ion-toolbar{
    background: rgba(211,44,164,1);
    background: -moz-linear-gradient(-45deg, rgba(211,44,164,1) 0%, rgba(59,25,115,1) 61%, rgba(51,71,115,1) 72%, rgba(38,150,115,1) 91%, rgba(34,181,115,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,44,164,1)), color-stop(61%, rgba(59,25,115,1)), color-stop(72%, rgba(51,71,115,1)), color-stop(91%, rgba(38,150,115,1)), color-stop(100%, rgba(34,181,115,1)));
    background: -webkit-linear-gradient(-45deg, rgba(211,44,164,1) 0%, rgba(59,25,115,1) 61%, rgba(51,71,115,1) 72%, rgba(38,150,115,1) 91%, rgba(34,181,115,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(211,44,164,1) 0%, rgba(59,25,115,1) 61%, rgba(51,71,115,1) 72%, rgba(38,150,115,1) 91%, rgba(34,181,115,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(211,44,164,1) 0%, rgba(59,25,115,1) 61%, rgba(51,71,115,1) 72%, rgba(38,150,115,1) 91%, rgba(34,181,115,1) 100%);
    background: linear-gradient(135deg, rgba(211,44,164,1) 0%, rgba(59,25,115,1) 61%, rgba(51,71,115,1) 72%, rgba(38,150,115,1) 91%, rgba(34,181,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32ca4', endColorstr='#22b573', GradientType=1 );
    --background: linear-gradient(135deg, rgb(8, 69, 126) 88%, rgba(34,181,115,1) 100%);
  }